html {
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.all {
  border-top: solid 1px black;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: lightgrey;
}

#header , #footer {
  width: 100%;
  padding-top: 50px;
}

@media only screen and (max-width: 767px) {
  html {
    width: 480px;
  }

  .all {
    border-right: solid 1px black;
  }

  .a , .b , .c , .d , .e , .g , .i {
    border-left: solid 1px black;
  }

  .i {
    border-bottom: solid 1px black;
  }

  .a , .b , .c , .d , .i {
    width: 480px;
  }

  .e , .f , .g , .h {
    width: 240px;
    height: 250px;
    line-height: 250px;
  } 

  .c , .d {
    height: 125px;
    line-height: 125px;
  }

  .a {
    height: 75px;
    line-height: 75px;
  }

  .b {
    height: 150px;
    line-height: 150px;
  }

  .i {
    height: 80px;
    line-height: 80px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    width: 960px;
  }

  .a , .b {
    border-left: solid 1px black;
  }

  .a , .d , .h , .i , .b , .c , .e , .f , .g {
    border-right: solid 1px black;
  }

  .i , .b {
    border-bottom: solid 1px black;
  }

  .a {
    width: 960px;
    height: 100px;
    line-height: 100px;
  }

  .b {
    width: 200px;
    height: 600px;
    line-height: 600px;
  }

  .c , .d {
    width: 380px;
    height: 200px;
    line-height: 200px;
  }

  .e , .f , .g , .h {
    width: 190px;
    height: 250px;
    line-height: 250px;
  }

  .i {
    width: 760px;
    height: 150px;
    line-height: 150px;
  }
}
